body {
	background-color: #0e242d;
	font-family: Verdana;
}

.container {
	margin-top: 3% !important;
	margin-bottom: 3% !important;
}

.card {
	border: none !important;
	color: #c2c2da !important;
}

.card-header {
	background-color: #0e1d22 !important;
	border: none !important;
	color: #0e9d9d !important;
	font-size: 20px !important;
}

.card-body {
	background-color: #1c3c41 !important;
	font-size: 17px !important;
}

.card-footer {
	background-color: #264e54 !important;
	font-size: 14px !important;
}

.chart {
	margin-top: 3% !important;
	padding: 1% !important;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #1c3c41;
}

::-webkit-scrollbar-thumb {
  background: #008888;
}

::-webkit-scrollbar-thumb:hover {
  background: #00b0b0;
}