body {
	background-color: #0e242d;
	font-family: Verdana;
}

.container {
	margin-top: 3%;
	margin-bottom: 3%;
}

.card {
	border: none;
	color: #c2c2da;
}

.card-header {
	background-color: #0e1d22;
	border: none;
	color: #0e9d9d;
	font-size: 20px;
}

.card-body {
	background-color: #1c3c41;
	font-size: 17px;
}

.card-footer {
	background-color: #264e54;
	font-size: 14px;
}

.chart {
	margin-top: 3%;
	padding: 1%;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #1c3c41;
}

::-webkit-scrollbar-thumb {
  background: #008888;
}

::-webkit-scrollbar-thumb:hover {
  background: #00b0b0;
}